.projects__presentation__container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: center;
}

.projects__presentation__container__project {
    display: flex;
}

.projects__presentation__container__project--img {
    margin: 5px;
}

.projects__presentation__container__project--img img {
    width: 150px;
    height: 100px;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects__presentation__container__project--technos {
    display: flex;
    margin: 15px;
}

.projects__presentation__container__project--technos img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin: 5px;
}

.projects__presentation__container__project--buttons {
    margin: 15px;
    display: flex;
}

.projects__presentation__container__project--description p {
    font-size: 13px;
    max-width: 500px;
    min-width: 405px;
}

.projects__presentation__container__project {
    display: flex;
    align-items: center;
    padding: 10px;
}

.projects__presentation__container__project--name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.projects__presentation__container__project {
    transition-duration: .5s;
}

.projects__presentation__container__project:hover {
    background-color: rgba(0, 0, 0, .1);
}

.showMore {
    background: linear-gradient(to right bottom, rgb(4, 162, 159), rgb(50, 230, 226));

    bottom: 0px;
    color: black;
    cursor: pointer;
    padding: 15px;
}

.unvisible {}

.undisplayed {
    display: none;
}

.projects__presentation__container__project--name p{ 
    text-align:center;
}



.showMore{
    display:inline-block;
    border:1px solid black;
    padding: 5px;
    cursor: pointer;
    position:relative;
    text-transform:uppercase;
    font-family:sans-serif;
    padding: 15px 30px;
    letter-spacing:1px;
    cursor:pointer;
    border:none;
    overflow:hidden;
    border-radius: 5px;
  }
.show_large{
    width:100%;
    display:flex;
    justify-content:center;
}

  .showMore:before{
    content:"";
    position:absolute;
    height: 150px;
    width: 20px;
   background-color: rgba(255,255,255,.3);
    box-shadow: 0 0 10px #fff;
    filter:blur(1px);
    top:-30px;
    transform:translateX(-100px) rotate(-45deg);
  }
  
  .showMore:hover:before{
  animation: btnAnimation .7s linear infinite;
  }

   @keyframes btnAnimation {
      0% {
        transform: translateX(-100px) rotate(-45deg);
      }
      100% {
        transform: translateX(250px) rotate(-45deg);
      }
    }