.rectangle {
    width: 75%;
    margin-left: 50px;
    min-height: 229px;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-top: 50px;
    color: rgb(84, 90, 97);
    width: 75vw;
}

.rectangle-small {
    width: 90%;
    margin-left: 50px;
    min-height: 229px;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin-top: 50px;
    color: rgb(84, 90, 97);
    padding: 20px;
}

.rectangle h2 {
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
    padding: 15px 15px 5px 15px;
    margin: 15px 20px 30px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.btn {
    padding: 8px;
    font-weight: 600;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border: 1px solid black;
    font-size: 14px;
    overflow: hidden;
    transition-duration: 0.4s;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);

    background-color: rgb(25, 121, 53);
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    padding: 9px 12px;
    border: 2px solid rgba(1, 34, 7, 0.1);
    filter: brightness(1.1);
}

.btn:hover {
    filter: brightness(1);
}

.bg_Grey {
    background-color: rgba(173, 168, 168, 0.08);
}

.btn-blue {
    background-color: rgb(46, 81, 237);
    color: white;
    font-weight: 600;
}

.btn-blue:hover {
    background-color: rgb(32, 54, 161);
}

.theme {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(36, 34, 33, 0.4);
    z-index: 9999999;
    pointer-events: none;
}


.dark {
    cursor: pointer;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgb(4, 162, 159);
}

.darkMode {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    transition-duration: .6s;
    background-color: white;
}

.move {
    transform: translateX(25px);
}

.bold {
    font-weight: 600;
    color: black;
}